.mt-0 {
  margin: 0 auto !important;

}


.carousel-indicators {
margin-bottom: -1rem !important;

}

.carousel-control-prev, .carousel-control-next {
  width:31% !important;


}


@media screen and (max-width:1394px) {
  .hidden-button {
    background-color: blue;
  }
}